[Desktop Entry]
Name=Perspec
Type=Application
Icon=icon_padded_white_512
Exec=perspec
Categories=Graphics;ImageProcessing;RasterGraphics;Photography;Scanning
